Source: pdftools
Section: utils
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
XSBC-Original-Maintainer: Fernando Ribeiro da Silva <fernando.ribeiro@gmail.com>
Homepage: http://code.google.com/p/pdftools/
Build-Depends: debhelper (>= 7), autotools-dev, autoconf, zlib1g-dev, libxml2-dev
Standards-Version: 3.9.1

Package: pdftools
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: convert pdf to azw and epub
 This package is a tabajara tool to convert pdf to azw or epub

